# Browsers that we support

# More than 1% market share
> 1%

# Last 2 versions of all browsers
last 2 versions

# Exclude browsers without official support or updates
not dead

# Exclude Internet Explorer 11 and earlier
not ie 11